
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
body{
    Background-image:

    Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    
    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
img{
    width: 100%;
    height:40% ;
    display:block;
    

}
.image{
    position:top right;
    width:50px;
    height: 50px;
}

.titre{
    font-family:'PT Serif', serif;
    /* padding-top:100px; */
   display:inline-block;
    height: 300px;
    width: 100%;
    color:white;
    background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
     font-size:40px;
     background-size: cover;
     background-repeat: no-repeat;
     text-decoration: none;
     padding-top: 200px;
     padding:center;
     margin-bottom: 20px;
 }
 .cover{
     margin-top:160px;
     font-size: 25px;
     margin-top: 30px;
     margin-bottom: 15px;
 }
 li {
    float: left;
    list-style-type: none;

  }
  ul li {
    text-align: center;
    display:inline
  }
  div a {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 50px 55px;
    text-decoration: none;
    margin-left: 150px;
    margin-bottom: 20px;
  }
  
  a :hover {
  color: red;
  }

 
  
  
  .cimage{

     
     padding: 10%;
      /* display: flex;
      align-items: flex-end; */
       
  }
  .cimage .jq{
    margin: 10px;
    width: 30%;
    display: inline-block;
  }
  .cimage img:hover{
      opacity: 0.5;

  }
  .cours{
      margin-top:40px;
      font-size: 50px;
      text-align: center;
      color: white;
  }
  .cimag1 .jq1{
    margin: 10px;
    width: 30%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cimag1 img:hover{
      opacity: 0.5; }
    .link{
        color: blue;
        font-size: 20px;
        text-align: center;
        margin-top:0px;
        
    }
      
.link:hover{
        opacity: 0.5;   }
.botton{
            background-color: blue;
            color:white;
            border-color: blue;
        }
.botton:hover{
    opacity: 0.5;  
}
.feedb{
    color: white; 
    font-size:35px;
    margin-top:5px;
    margin-bottom: 5px;
}
.jq{
    display: inline-block;
    width:30%;
}
.jq1{
    display: inline-block;
    width:30%;
}
.bt{
    position: relative;
    top: -100px;
    z-index: 2;
}
.bt1{
    position: relative;
    top: -150px;
    z-index: 2;
    
}